@charset "utf-8";

header {
  /* ヘッダーのCSSを書く */
  width: 1240px;
  margin: 0 auto 44px;
}

header nav ul {
  /* グローバルナビゲーションのCSSを書く */
  display: flex;
  justify-content: center;
  /* ナビゲーションの装飾 */
  border-top: 2px solid #7c5d48;
  border-bottom: 2px solid #7c5d48;
  background-color: rbga(255, 255, 255, 0.42);
  padding: 12px 0px 10px;
}

/* 以下の header nav ul という書き方はタイプセレクタと呼ぶ */
/* header内のnav内のul要素のみに適用する際に用いる */

header nav ul li {
  /* ナビゲーション項目の余白 */
  margin: 0 20px;
}

header nav ul li a {
  /* ナビゲーション項目の文字を装飾 */
  font-size: 22px;
  font-weight: bold;
  color: #7c5d48;
}

header nav ul li a:hover {
  /* マウスカーソルをあてた時の装飾（テキストデコレーション） */
  text-decoration: underline double;
}

body {
  /* 背景画像の指定 */
  background-image: url(../images/bg.png);
  /* ページ全体のフォントを設定 */
  font-size: 16px;
  font-family: "arial", "Hiragino Sans", "Meiryo", sans-serif;
  color: #333333;
}

h1 {
  /* ロゴを中央寄せにする */
  text-align: center;
  padding: 20px 0px 16px;
}

article h2 {
  /* タイトルの文字を大きくする */
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 8px;
}

time {
  /* 文字と背景を装飾 */
  background-color: #91c777;
  border-radius: 0px 22px 22px 22px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding: 13px 25px 12px 20px;
  display: inline-block;
}

.postdate {
  /* 余白を調整 */
  margin-bottom: 26px;
}

.eyecatch {
  margin-bottom: 26px;
}

article h3 {
  /* 見出しを調整 */
  border-bottom: 2px solid #6ab547;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  background-image: url(../images/h2_icon.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  padding: 20px 10px 10px 48px;
}

article section p {
  /* 本文の行間を調節 */
  line-height: 1.6;
  margin-bottom: 24px;
}

article section {
  /* セクションの余白を調節 */
  margin-bottom: 50px;
}

div {
  /* コンテンツの幅を指定 */
  width: 1240px;
  margin: 0 auto 50px;
  /* メインエリアとサイドバーを横並び */
  display: flex;
  /* メインエリアとサイドバーの間に余白をつける */
  justify-content: space-between;
}

main {
  /* メインエリアとサイドバーの横幅をflex-basisで指定 */
  flex-basis: 920px;
  background-color: #ffffff;
  /* 枠に丸角と影を付ける */
  border-radius: 16px;
  padding: 62px 72px 32px 72px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
}

footer {
  /* フッターエリアを装飾 */
  background-color: #523f2e;
  color: #ffffff;
  text-align: center;
  padding: 14px 10px 20px;
}

aside {
  flex-basis: 284px;
}

aside nav {
  /* サイドバーを装飾 */
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  padding: 24px 28px;
  margin-bottom: 24px;
}

aside nav h2 {
  /* ローカルナビゲーションの見出しを装飾 */
  margin-bottom: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #7c5d48;
}

aside nav ul {
  /* ローカルナビゲーションの文字サイズを変更 */
  font-size: 14px;
}

.categoryNav ul li {
  /* リスト項目にマーカーを付けて余白を調整 */
  list-style-type: square;
  color: #7c5d48;
  margin: 0 0 16px 20px;
}

.categoryNav ul li a {
  /* リスト項目の文字色を黒に戻す */
  color: #333333;
}

.recentNav ul li {
  /* ボーダーと余白の調整 */
  border-bottom: 1px solid #7c5d48;
  padding-bottom: 10px;
  margin-bottom: 22px;
}

.recentNav ul {
  /* スクロール出来るようにする */
  height: 240px;
  overflow: hidden scroll;
}
